# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-lint-test:
    permissions:
      pull-requests: read
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - uses: ./.github/actions/setup-goversion
      - name: Build
        run: go build -v ./...
      - name: Lint
        uses: golangci/golangci-lint-action@4afd733a84b1f43292c63897423277bb7f4313a9 # v8.0.0
        with:
          version: v2.1.0
      - name: Test
        run: go test -v ./...
      - name: Install make
        run: sudo apt-get update && sudo apt-get install -y make
        shell: bash
      - name: Check for Dashboards Drift
        run: |
          make build-dashboards > /dev/null
          if ! git diff --exit-code; then
            echo "Dashboards are out of sync. Please run 'make build-dashboards' and commit the changes."
            exit 1
          fi
        shell: bash


